<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <%= link_to "Reddit Clone", root_path, :method => :get, class: 'navbar-brand'%>
    <% if current_user.nil? %>
        <%= button_to "Sign in", new_user_session_path, :method => :get, class: 'btn btn-outline-success link-dark' %>
    <% else%>
        <%= button_to "Sign out", destroy_user_session_path, :method => :delete, class: 'btn btn-outline-success link-dark' %>
    <% end %>
    </div>
</nav>