<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <%= link_to "Reddit Clone", root_path, :method => :get, class: 'navbar-brand'%>
    <% if current_user.nil? %>
        <%= 
            button_tag(type: 'button', class: 'btn btn-outline-success') do
                link_to "Sign in", new_user_session_path, :method => :get, class: 'link-dark'
            end
        %>
    <% else%>
        <%= 
            button_tag(type: 'button', class: 'btn btn-outline-success') do
                link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'link-dark'
            end
        %>
    <% end %>
    </div>
</nav>