<div class="card" style="width: 90%;">
    <div class="row g-0">
        <div class="col-md-1" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <i class="bi bi-arrow-up"></i>
            <%= post.points%>
            <i class="bi bi-arrow-down"></i>
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title"><%= post.title %></h5>
                <p class="card-text"><%= post.description %></p>
            </div>
        </div>
    </div>
</div>