// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post-card{
    width: 100%;
    margin-top: 10px;
} 

.posts-container{
    width: 95%; 
    margin-left: 2%; 
}
.post-content-container{
    width: 95%; 
    margin-top: 10px;
    margin-left: 2%; 
}

.submitted{
    font-size: small;
    font-weight: normal;
    color: #98abba;
}

.add-comment{
    width: 95%; 
    margin-left: 2%; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-vote{
    padding: 1rem 1rem;
    margin-left: 10px; 
    width: 32px;
}

.post-card-inner-container{
    display: flex;
    flex-direction: row;
}

.new-post-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    .field{
        margin-top: 10px;
    }
    .new-post-footer{
        margin-top: 10px;
        display: flex;  
        justify-content: space-between;
        a{
            text-decoration: none;
            color: white;
        }
    }
}