.log-in-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-session-container{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}